<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>无权限</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" th:href="@{/layuicms2.0/layui/css/layui.css}" href="../../static/layuicms2.0/layui/css/layui.css" media="all" />
	<link rel="stylesheet" th:href="@{/layuicms2.0/css/public.css}" href="../../static/layuicms2.0/css/public.css" media="all" />
</head>
<body class="childrenBody">
	<div class="noFind">
<!--		<div class="ufo">-->
<!--			<i class="seraph icon-test ufo_icon"></i>-->
<!--			<i class="layui-icon page_icon">&#xe638;</i>-->
<!--		</div>-->
		<div class="page404">
			<i class="layui-icon">&#x1007;</i>
			<p>没有权限访问这个页面!</p>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/layuicms2.0/layui/layui.js}" src="../../static/layuicms2.0/layui/layui.js"></script>
</body>
</html>