<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layuicms2.0/layui/css/layui.css}" href="../../../static/layuicms2.0/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" th:href="@{/layuicms2.0/css/public.css}" href="../../../static/layuicms2.0/css/public.css" media="all"/>
    <link rel="stylesheet" th:href="@{/layuicms2.0/layui_ext/dtree/dtree.css}" href="../../../static/layuicms2.0/layui_ext/dtree/dtree.css" media="all"/>
    <link rel="stylesheet" th:href="@{/layuicms2.0/layui_ext/dtree/font/dtreefont.css}" href="../../../static/layuicms2.0/layui_ext/dtree/font/dtreefont.css" media="all"/>
</head>
<body>

<!--模糊查询工具栏开始-->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend>查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="address" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="remark" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span
                        class="layui-icon layui-icon-search"></span>查询
                </button>
                <button type="reset" class="layui-btn layui-btn-warm"><span
                        class="layui-icon layui-icon-refresh-1"></span>重置
                </button>
            </div>
        </div>
    </form>
</blockquote>
<!--模糊查询工具栏结束-->

<!--表格开始-->
<div>
    <table class="layui-hide" id="userTable" lay-filter="userTable"></table>
    <div id="userToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-sm"><span
                class="layui-icon layui-icon-add-1"></span>添加用户
        </button>
    </div>

    <div id="userRowBar" style="display: none;">
        <button type="button" lay-event="update" class="layui-btn layui-btn-sm"><span
                class="layui-icon layui-icon-edit"></span>更新
        </button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span
                class="layui-icon layui-icon-delete"></span>删除
        </button>
        <button type="button" lay-event="restPwd" class="layui-btn layui-btn-sm layui-btn-danger"><span
                class="layui-icon layui-icon-delete"></span>重置密码
        </button>
        <button type="button" lay-event="allocation" class="layui-btn layui-btn-sm layui-btn-normal"><span
                class="layui-icon layui-icon-delete"></span>分配角色
        </button>
    </div>
</div>
<!--表格结束-->

<!--角色信息表开始-->
<div style="display: none;padding: 5px" id="roleTableDiv">
    <table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
</div>
<!--角色信息表结束-->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属部门</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="deptid" id="deptid">
                    <ul id="userTree" class="dtree" data-id="0"></ul>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">领导名称</label>
                <div class="layui-input-inline">
<!--                    <input type="hidden" name="mgr" id="mgrid">-->
                    <select id="mgr" name="mgr" lay-verify="required" lay-search="">
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入用户名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">登录名称</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <input type="text" name="loginname" lay-verify="required" autocomplete="off" placeholder="请输入登录名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入用户地址" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">头像地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="imgpath" lay-verify="required" autocomplete="off" placeholder="请输入头像地址" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" style="width: 515px" name="remark" id="content" placeholder="请输入用户备注"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户性别</label>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" value="1" title="男" checked="">
                    <input type="radio" name="sex" value="0" title="女" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-inline">
                    <input type="radio" name="available" value="1" title="可用" checked="">
                    <input type="radio" name="available" value="0" title="不可用" >
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序码</label>
            <div class="layui-input-inline">
                <input type="text" name="ordernum" id="ordernum" lay-verify="required|number"  autocomplete="off" placeholder="请输入排序码[>0]" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入职时间</label>
            <div class="layui-input-inline">
                <input type="text" name="hiredate" id="hiredate" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" id="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->

<script type="text/javascript" th:src="@{/layuicms2.0/layui/layui.js}" src="../../../static/layuicms2.0/layui/layui.js"></script>
<script>
    var tableIns
    layui.extend({
        dtree: '/layuicms2.0/layui_ext/dtree/dtree'   //扩展dtree组件
    }).use(['jquery', 'form', 'table','dtree','layer','laydate'], function () {
        //设置快捷键
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var dtree = layui.dtree;
        var layer = layui.layer;
        var laydate = layui.laydate;

        //初始化时间选择器
        laydate.render({
            elem: '#hiredate',
            type: 'datetime'
        });

        //加载表格数据
        tableIns = table.render({
            elem: '#userTable' //根据id绑定对应的table标签
            , url: '/user/loadAllUser' //从该地址获取数据
            , toolbar: '#userToolBar' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter']
            , title: '用户数据表'
            , height: 'full-205'
            , page: true //开启分页，会回传page和limit参数
            , cols: [ [
                {field: 'id', title: 'ID', align: 'center',width: '80'}
                , {field: 'name', title: '用户名称', align: 'center',width: '100'}
                , {field: 'loginname', title: '登录名称', align: 'center',width: '100'}
                , {field: 'sex', title: '性别', align: 'center',width: '100',templet:function (obj) {
                    return obj.sex == 1 ? '男' : '女';
                    }}
                , {field: 'deptName', title: '所属部门', align: 'center',width: '100'}
                , {field: 'mgrName', title: '直属领导', align: 'center',width: '100'}
                , {field: 'address', title: '用户地址', align: 'center',width: '110'}
                , {field: 'remark', title: '用户备注', align: 'center',width: '110'}
                , {field: 'ordernum', title: '优先级', align: 'center',width: '80'}
                , {field: 'hiredate', title: '入职时间', align: 'center',width: '200',templet:function (obj) {
                    return obj.hiredate == null ? '暂未确定' : obj.hiredate;
                    }}
                , {
                    field: 'available', title: '工作', align: 'center', templet: function (obj) {
                        return obj.available == 1 ? '<font style="color: blue">Y</font>' : '<font style="color: red">N</font>';
                    },width: '80'
                }
                , {fixed: 'right', title: '操作', toolbar: '#userRowBar', align: 'center',width: '400'}
            ] ]
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据，res为从url中get到的数据
                var result;
                console.log(this);
                console.log(JSON.stringify(res));
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                } else {
                    result = res.data.slice(0, this.limit);
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": result //解析数据列表
                };
            }
        });

        //模糊查询
        form.on("submit(doSearch)",function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });

        //监听表头工具栏
        table.on("toolbar(userTable)",function (obj) {
            switch (obj.event) {
                case "add" :
                    openAddLayer();
            }
        });

        //监听行工具栏
        table.on("tool(userTable)",function (obj) {
            //获取当前选中行数据
            var data = obj.data;
            switch (obj.event) {
                case "update" :
                    openUpdateLayer(data);
                    break;
                case "delete" :
                    deleteUser(data);
                    break;
                case "restPwd" :
                    restUserPwd(data);
                    break;
                case "allocation" :
                    allocationUser(data);
                    break;
            }
        });

        //重置密码
        function restUserPwd(data) {
            layer.confirm('你确定要重置该用户的密码吗？',function () {
                $.post('/user/restPwd',{id:data.id},function (res) {
                    layer.msg(res.msg);
                })
            });
        }

        //删除用户
        function deleteUser(data) {
             layer.confirm('确定要删除吗？',function () {
                 $.post('/user/deleteUser',{id:data.id},function (res) {
                     if(res.code == 200){
                         tableIns.reload();
                         //刷新下拉树
                         Dtree.reload();
                         //刷新左边的用户树
                         window.parent.left.Dtree.reload();
                     }
                     layer.msg(res.msg);
                 })
             });
        }

        var mainIndex;
        var url;
        var Dtree;

        //打开添加弹出层
        function openAddLayer() {
            $("#hiredate").attr("name","hiredateString");
            mainIndex = layer.open({
                type: 1,
                area: ['700px','600px'],
                content: $("#addOrUpdateDiv"),
                title: '添加新的用户',
                success: function () {
                    $("#dataFrm")[0].reset();
                    url="/user/addUser";
                }
            });
        }

        //分配角色
        function allocationUser(data) {
            mainIndex = layer.open({
                type: 1,
                area: ['700px','600px'],
                content: $("#roleTableDiv"),
                title: '分配用户角色',
                btn: ['确认分配'],
                btnAlign: 'c',
                yes: function(index, layero){
                    //得到表中所选数据
                    var checkStatus = table.checkStatus('roleTable');
                    var roleId = null;
                    $.each(checkStatus.data,function(index,item){
                        roleId = item.id;
                    });
                    //向服务器发送请求
                    $.post("/user/saveUserRole",{roleId:roleId,userId:data.id},function(res){
                        layer.close(mainIndex);
                        layer.msg(res.msg);
                    })
                },
                success: function () {
                    table.render({
                        elem: '#roleTable' //根据id绑定对应的table标签
                        , url: '/role/loadAllRole' //从该地址获取数据
                        , title: '角色数据表'
                        , height: 'full-205'
                        , page: true //开启分页，会回传page和limit参数
                        , cols: [ [
                            {type: 'radio', fixed: 'left'}
                            , {field: 'id', title: 'ID', align: 'center',width:'80'}
                            , {field: 'name', title: '角色名称', align: 'center',width:'150'}
                            , {field: 'remark', title: '角色备注', align: 'center',width:'415'}
                        ] ]
                        , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据，res为从url中get到的数据
                            var result;
                            console.log(this);
                            console.log(JSON.stringify(res));
                            if (this.page.curr) {
                                result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                            } else {
                                result = res.data.slice(0, this.limit);
                            }
                            return {
                                "code": res.code, //解析接口状态
                                "msg": res.msg, //解析提示文本
                                "count": res.count, //解析数据长度
                                "data": result //解析数据列表
                            };
                        }
                    })
                }
            });
        }

        //打开修改弹出层
        function openUpdateLayer(data) {
            $("#hiredate").attr("name","hiredate");
            mainIndex = layer.open({
                type: 1,
                area: ['700px','600px'],
                content: $("#addOrUpdateDiv"),
                title: '修改用户信息',
                success: function () {
                    $("#dataFrm")[0].reset();
                    //装载数据
                    form.val("dataFrm",data);
                    $("option","[value='"+data.mgr+"']").attr("selected","selected");
                    //选中之前父级的用户
                    dtree.dataInit("userTree", data.deptid);
                    dtree.selectVal("userTree");
                    url="/user/updateUser";
                }
            });
        }

        //配置父级用户的下拉树
        Dtree = dtree.renderSelect({
            elem: "#userTree",
            width: "100%",
            url: "/user/getUserTree",
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            dataFormat: "list",  //配置data的风格为list
            response:{message:"msg",statusCode:0}  //修改response中返回数据的定义
        });

        //监听下拉树点击的方法
        dtree.on("node(userTree)" ,function(obj){
            $("#deptid").val(obj.param.nodeId);
        });

        //监听提交按钮点击事件
        $("#doSubmit").click(function () {
            var data = $("#dataFrm").serialize();
            // alert(data);
            $.post(url,data,function (res) {
                if(res.code==200){
                    tableIns.reload();
                    //刷新下拉树
                    Dtree.reload();
                    //刷新左边的用户树
                    window.parent.left.Dtree.reload();
                }
                layer.msg(res.msg);
            });
            layer.close(mainIndex);
        });

        //动态赋值领导下拉栏
        $.ajax({
            url: '/user/loadMgrName',
            dataType: 'json', //服务器返回json格式数据
            type: 'get', //HTTP请求类型
            timeout: 10000, //超时时间设置为10秒；
            success: function(data) {
                //给一个默认值（‘请选择’）
                var opt = '<option value="">请选择领导</option>';
                //获取返回的数据
                var mgrs = data.data;
                //循环遍历
                $.each(mgrs,function (index, mgr) {
                    opt += '<option value = "' + mgr.id + '">' + mgr.name + '</option>';
                });
                $("#mgr").html(opt);
                form.render('select');//需要渲染一下
            }
        });

    });

    //页面左侧导航树联动
    function reloadTable(id){
        tableIns.reload({
            where:{
                id:id
            },
            page:{
                curr:1
            }
        });
    }
</script>
</body>
</html>